// base
include "base.kdl"

// displays
include "displays.kdl"

// windows
include "windows.kdl"

// themes
include "theme.kdl"

// animations
include "animations.kdl"

// binds
include "binds/base.kdl"
include "binds/noctalia.kdl"
include "binds/self.kdl"
