window-rule { // Confortable mobile factor
    match app-id="com.github.th_ch.youtube_music"
    match app-id="org.telegram.desktop"
    default-column-width { fixed 460; }
}

window-rule { // full screen apps
    match app-id=r#".*zen_browser.*"#
    match app-id=r#".*zed.*"#
    
    exclude title="Zed — Settings"
    
    open-floating false
    default-column-width { proportion 1.0; }
}

window-rule { // transparent window
    match app-id="Hoppscotch-agent"
    open-floating true
    open-focused false
    opacity 0.000
    
    border {
        on
        active-color "transparent"
        inactive-color "transparent"
    }
}
