window-rule { // Confortable mobile factor
    match app-id="com.github.th_ch.youtube_music"
    match app-id="com.seafile.seafile-applet"
    match app-id="org.telegram.desktop"
    match app-id="io.github.kukuruzka165.materialgram"
    match app-id="wev"
    
    default-column-width { fixed 460; }
}

window-rule { // full screen apps
    match app-id="zen"
    match app-id="jetbrains-studio"
    match app-id=r#".*zen_browser.*"#
    match app-id=r#".*zed.*"#
    
    exclude title="Zed — Settings"
    
    open-floating false
    default-column-width { proportion 1.0; }
}

window-rule {
    match app-id="Alacritty"
    
    open-floating false
    default-column-width { proportion 0.70; }
}

window-rule { // transparent window
    match app-id="Hoppscotch-agent"
    match app-id=r#"steam_app.*"# title="^$"
    
    open-floating true
    open-focused false
    opacity 0.50
    default-floating-position x=10 y=10 relative-to="top-right"
    
    border {
        on
        active-color "transparent"
        inactive-color "transparent"
    }
}

// Blur the background behind pop-up menus.
window-rule {
    exclude app-id="zen"
    exclude app-id=r#".*zen_browser.*"#

    popups {
        geometry-corner-radius 12

        // Note: it'll look better to set background opacity
        // through your GTK theme CSS and not here.
        // This is just an example that makes it look obvious.
        opacity 0.8

        background-effect {
            blur true
        }
    }
}

window-rule { // Block out from screencasts.
    match app-id="org.telegram.desktop"
    match app-id="com.github.IsmaelMartinez.teams_for_linux"
    match app-id="io.github.kukuruzka165.materialgram"
    match app-id="com.slack.Slack"
    match title=".*Bitwarden Password Manager.*"
    match title=".*Microsoft Teams.*"
    match title=".*WhatsApp.*"
    match title=".*Slack.*"
    
    block-out-from "screen-capture"
    border {
        on
        active-color "#d20f39"
        inactive-color "#000000"
    }
}

window-rule { // Draw transparent blured windows.
    match app-id="wev"
    
    opacity 0.0
    draw-border-with-background false
    background-effect {
        xray true
        blur true
    }
    // border { off; }
}



layer-rule { // Block out from screencasts.
    match namespace=r#"noctalia-notifications.*"#
    match namespace=r#"noctalia-notification"#
    
    opacity 1.0
    block-out-from "screencast"

    background-effect {
        xray false
        blur true
    }
}

layer-rule { // Block out from screencasts.
    match namespace=r#"noctalia-bar-*"#
    match namespace=r#"noctalia-back.*"#
    match namespace=r#"noctalia-lau.*"#

    background-effect {
        xray false
        blur false
    }
}

window-rule {
    match title=".*Extension.*Bitwarden.*"
    match app-id="scrcpy"
    match app-id="nankill.xyz.glassymusic.mod"
    
    min-width 464
    max-width 464
}

window-rule {
    match app-id="io.github.Kuucheen.PixelKit" title=".olor Picker.*"
}

window-rule {
    match title="Color Picker — PixelKit"
    match app-id="io.github.Kuucheen.PixelKit"
    
    // match app-id="scrcpy"
    // match app-id="nankill.xyz.glassymusic.mod"
    open-floating true
    opacity 0.1
    // min-width 464
    // max-width 464
}

window-rule {
    match app-id="io.github.Kuucheen.PixelKit" title=".olor Picker.*"
}
