binds {
    Mod+Space hotkey-overlay-title="launcher" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Ctrl+Period hotkey-overlay-title="zed" { spawn "zed"; }
    Mod+B hotkey-overlay-title="zen" { spawn "flatpak" "run" "app.zen_browser.zen"; }
    Mod+N hotkey-overlay-title="launcher" { spawn "nautilus" "-w"; }
    
}
