binds {
    Mod+Down      { focus-workspace-down; } // { focus-column-right; }
    Mod+Up        { focus-workspace-up; } // { focus-column-left; }
    Mod+Ctrl+Down { move-column-to-workspace-down; } // { move-column-right; }
    Mod+Ctrl+Up   { move-column-to-workspace-up; } // { move-column-left; }
    
    Mod+Space hotkey-overlay-title="launcher" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+Z hotkey-overlay-title="zed" { spawn "zed"; }
    Mod+B hotkey-overlay-title="zen" { spawn "flatpak" "run" "app.zen_browser.zen"; }
    Mod+N hotkey-overlay-title="nautilus" { spawn "nautilus" "-w"; }
    Mod+C hotkey-overlay-title="telegram" { spawn "flatpak" "run" "org.telegram.desktop"; }
    Mod+M hotkey-overlay-title="music" { spawn-sh "pgrep youtube-music || qs -c noctalia-shell ipc call toast send '{\"title\":\"Opening youtube-music\"}'; youtube-music"; }
    
    Shift+XF86AudioRaiseVolume { spawn-sh "~/.config/niri/scripts/volume.sh +"; }
    Shift+XF86AudioLowerVolume { spawn-sh "~/.config/niri/scripts/volume.sh -"; }
    
    XF86Cut { screenshot; }
    XF86Favorites hotkey-overlay-title="toggle" { spawn "~/.config/niri/scripts/toggle_screen.sh"; }
    
    
    Mod+Alt+K allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    Mod+Alt+L allow-when-locked=true { spawn-sh "playerctl position 10+"; }
    Mod+Alt+J allow-when-locked=true { spawn-sh "playerctl position 10-"; }
    Mod+Alt+M allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    // XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; 
    Mod+Alt+N allow-when-locked=true { spawn-sh "playerctl previous"; }
    Mod+Alt+P allow-when-locked=true { spawn-sh "playerctl next"; }
    
    Mod+Alt+Shift+R { spawn-sh "qs kill -p /etc/xdg/quickshell/noctalia-shell/shell.qml; qs -c noctalia-shell;"; }
}
