overview {
    // backdrop-color "#dce0e8" // crust
    backdrop-color "transparent" // noctalia blur
}

layout {
    background-color "#e6e9ef" // mantle
    border {
        on
        active-color "#40a02b" // green
        inactive-color "#4c4f69" // text
    }
}
