overview {
    // backdrop-color "#11111b" // crust
    backdrop-color "transparent" // noctalia blur
}

layout {
    background-color "#181825" // mantle
    border {
        on
        active-color "#f5e0dc" // rosewater
        inactive-color "#585b70" // surface2
    }
}
